<footer class="footer">
    <div class="container">
      <h2>{{appName}}</h2>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nostrum repellendus iure cumque, ad repudiandae eaque eius repellat odio tenetur asperiores tempora facere at ipsum delectus ut quam, corrupti obcaecati.</p>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
      <p class="copyright">© 2025 ToDoApp. All rights reserved.</p>
    </div>
</footer>