section.full-login-page{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .content-area{
    display: flex;
    height: 100%;
    .left{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: color-mix(in srgb, var(--color-background) 90%, var(--color-medium) 10%);
      overflow: hidden;
      background-image: url('../../../../assets/login-banner.jpg');
      background-position: center;
      background-blend-mode: multiply;
      background-repeat: repeat;
      background-size: cover;
      .card{
        width: clamp(280px, 80%, 500px);
        .logo{
          img{
            height: 50px;
          }
        }
        h1{
          font-size: 25px;
          margin: 5px 0 0;
        }
        .description{
          font-size: 14px;
          color: var(--color-medium);
          margin: 5px 0 0;
        }
        .btns{
          margin-top: 20vh;
          display: flex;
          flex-direction: column;
          gap: 10px;
          p{
            font-size: 14px;
            color: var(--color-medium);
          }
          .accounts{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
          }
        }
        .condition{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 10px;
          a{
            text-decoration: none;
            color: var(--color-warning);
          }
        }
      }
    }
    .right{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .card{
        width: clamp(280px, 50%, 400px);
        display: flex;
        flex-direction: column;
        h2{
          font-size: 20px;
          text-align: center;
          margin: 0;
          color: var(--color-primary);
          text-transform: uppercase;
        }
        .description{
          font-size: 14px;
          text-align: center;
          color: var(--color-medium);
        }
        .inputs{
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-top: 30px;
          kage-input{
            .error{
              font-size: 14px;
              color: var(--color-danger);
            }
          }
          kage-checkbox{
            font-size: 14px;
            a{
              text-decoration: none;
              color: var(--color-warning);
            }
          }
        }
        .btn-n-link{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          a{
            text-decoration: none;
            color: var(--color-warning);
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 780px) {
  section.full-login-page{
    .content-area{
      flex-direction: column;
      .left, .right{
        width: inherit;
        .card{
          padding: 20px;
        }
      }
      .left{
        height: 400px;
        .card{
          .btns{
            margin-top: 40px;
          }
        }
      }
      .right{
        height: calc(100vh - 400px);
        .card{
          h2, .description{
            display: none;
          }
        }
      }
    }
  }
}